<script type="text/html" id="reminder-template">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-bind="click: cancel">&times;</button>
                    <h3><span class="glyphicon glyphicon-bell"></span>Reminder</h3>
                </div>
                <div class="modal-body">
                    <h3 data-bind="text: description"></h3>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-bind="click: cancel">Close</a>
                </div>
            </div>
        </div>
    </div>
</script>
